# Default
* @EthanShen10086

/apps/ios/ @EthanShen10086
/apps/macos/ @EthanShen10086
/apps/admin/ @EthanShen10086
/services/ @EthanShen10086
/pkg/ @EthanShen10086
/ml/ @EthanShen10086
/deploy/ @EthanShen10086
/docs/ @EthanShen10086
.github/ @EthanShen10086
