:8088 {
    encode gzip
    root * /var/www/msgguard
    file_server
}

msgguard.app, www.msgguard.app {
	encode gzip
	root * /var/www/msgguard
	file_server
}

api.msgguard.app {
	encode gzip
	reverse_proxy localhost:8080
}
